body{
    margin:auto;
    color:white;
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
.box {
    white-space: nowrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 20px;
    text-align: center;
}
.noChange{
    font-size: 8vw;
}
.btn{
    background-color: transparent;
}
footer{
    text-align: center;
    bottom:0;
    right:0;
    position:absolute;
    font-size: 20px;
}
a{
    text-decoration:none;
    color:rgb(249, 248, 248);
}